.header {
  text-align: center;
  font-weight: 800;
  margin-top: 5px;
}

.card-title {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 800;
}

.section-header {
  font-size: 20px;
}

.add-course {
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #292d3e;
  color: white;
  height: 30px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  width: 100px;
  line-height: 1;
}

.container {
  margin-top: 1rem;
  padding-bottom: 50px;
}

.gy-4 {
  position: relative;
  z-index: 1;
}

.cards {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
}

.card-body {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}

.card-img {
  height: 320px;
}

.card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
  height: 100%;
  margin-bottom: 5px;
}

.card-subtitle {
  margin-top: 15px;
  margin-bottom: 15px;
}

#edit-header {
  text-transform: capitalize;
  font-weight: 800;
}

input::placeholder {
  text-transform: capitalize;
}

.btn-add-course {
  background-color: transparent;
  border: transparent;
  font-size: 30px;
  line-height: 1;
}

.card-btn-users {
  position: absolute;
  bottom: 10px;
  right: 15px;
  border-radius: 5px;
  border: transparent;
  background-color: #384068;
  color: white;
  height: 30px;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  line-height: 0.8;
}

.card-btn-users:hover {
  background-color: white;
  border: 1px solid #384068;
  color: black;
}

.card-btn-remove {
  position: absolute;
  bottom: 10px;
  left: 15px;
  border-radius: 5px;
  background-color: #292d3e;
  border: transparent;
  color: white;
  height: 30px;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  line-height: 0.8;
}

.card-btn-remove:hover {
  background-color: white;
  border: 1px solid #384068;
  color: black;
}

.card-btn-edit {
  position: absolute;
  bottom: 10px;
  left: 130px;
  border-radius: 5px;
  border: transparent;
  background-color: #292d3e;
  color: white;
  height: 30px;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  line-height: 0.8;
}

.card-btn-edit:hover {
  background-color: white;
  border: 1px solid #384068;
  color: black;
}

/* Media styling */

@media only screen and (max-width: 600px) {
  .card-btn-remove {
    line-height: 1;
    padding-top: 2px;
  }

  .card-btn-users {
    line-height: 1;
    padding-top: 2px;
  }
}

@media only screen and (max-width: 1200px) {
  .card-btn-remove {
    height: 30px;
    width: 80px;
    font-size: 12px;
    line-height: 1;
    padding-top: 3px;
    margin-right: 5px;
  }

  .card-btn-edit {
    height: 30px;
    width: 80px;
    font-size: 12px;
    left: 100px;
    padding-top: 5px;
  }

  .card-btn-users {
    height: 30px;
    width: 80px;
    font-size: 12px;
    line-height: 1;
    padding-top: 3px;
  }
}
