@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.icons {
  font-size: 25px;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  min-height: 0vh;
  position: relative;
  line-height: 200px;
  vertical-align: middle;
}

.heading {
  margin-right: 30px;
  align-items: end;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.icon-button {
  font-size: 35px;
  margin-left: 10px;
  float: right;
  background: transparent;
  border: transparent;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

#mail-button {
  font-size: 35px;
  margin-left: 10px;
  float: right;
  background: transparent;
  border: transparent;
  vertical-align: middle;
}

#mail-button.a {
  text-decoration: none;
  color: black;
  outline-color: #000000;
}

.heading-icons {
  color: black;
  float: right;
  align-content: right;
}

.heading-icons:hover {
  color: rgb(49, 46, 65);
}

#calendar {
  margin-left: 12%;
}

.calendar-modal {
  float: right;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  padding-left: 1500px;
}

.calendar-modal.closed {
  display: none;
}

div.modal-body {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.img-thumbnail {
  margin-bottom: 15px;
}

#list-title {
  width: 25%;
  text-align: center;
  height: 40px;
  font-weight: 800;
}

#list-info {
  width: 75%;
  height: 40px;
  text-align: left;
}

.edit-button {
  margin-top: 5px;
}

#not-found {
  text-align: center;
  font-weight: 200;
  margin-top: 200px;
  font-size: 30px;
}

#schedule-div {
  width: 700px;
  height: 900px;
  background-color: black;
}

div.tab-nav {
  margin-bottom: 5px;
}

table {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  font-size: xx-large;
}

.tab {
  color: black;
}

div.container-fluid {
  width: 1600px;
  font-size: x-large;
  margin-top: 5px;
}

.home {
  background-image: url(https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg);
  height: 1300px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  justify-content: right;
  text-align: center;
}

.schedule {
  background-image: url(https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg);
  height: 1300px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  justify-content: right;
  text-align: center;
}

#home-heading {
  padding-top: 400px;
  font-size: 100px;
  font-weight: 600;
}

.courses {
  background-color: whitesmoke;
  display: flex;
}

.classes,
.about,
.not-found {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #fff;
  color: #000;
}

/* Navbar CSS */
.navbar {
  display: inline-block;
  color: black;
  border-bottom: 1px solid #bcb8b8;
  height: 60px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #292d3e;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffffff;
  color: #000;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #292d3e;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: right;
  padding-right: 10px;
  float: inline-start;
  left: 0;
  color: white;
}

#close-nav-button {
  color: white;
}

#sidebar-heading {
  color: #ffffff;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  bottom: 100%;
  font-weight: 500;
}

span {
  margin-left: 16px;
}
