@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Sets default background for larger size screens */
html {
  background-color: whitesmoke;
}

#root {
  background-color: transparent;
}

/* Home */
#not-found {
  text-align: center;
  padding-top: 200px;
  font-size: 200px;
  font-weight: 600;
}

/* Home Page */
.home {
  background-image: url(https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg);
  height: 945px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  justify-content: right;
  text-align: center;
}

#home-heading {
  padding-top: 400px;
  font-size: 100px;
  font-weight: 600;
}

/* Schedule Page */
.schedule {
  background-image: url(https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg);
  height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  width: 100%;
  justify-content: right;
  text-align: center;
}

/* Courses Page */
.courses {
  background-color: whitesmoke;
  display: flex;
  height: max-content;
}

/* Not Found Page */
.not-found {
  text-align: center;
}

/* Navbar CSS */
#mail-button {
  font-size: 35px;
  margin-left: 10px;
  float: right;
  background: transparent;
  border: transparent;
  vertical-align: middle;
}

#mail-button.a {
  text-decoration: none;
  color: black;
  outline-color: #000000;
}

.navbar {
  display: inline-block;
  color: black;
  border-bottom: 1px solid #bcb8b8;
  height: 60px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #292d3e;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffffff;
  color: #000;
}

.sidebar-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #292d3e;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: right;
  padding-right: 10px;
  float: inline-start;
  left: 0;
  color: white;
}

#close-nav-button {
  color: white;
}

.sidebar-logo {
  color: #ffffff;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 50px;
  font-size: 60px;
}

.sidebar-heading {
  color: #ffffff;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 20px;
  bottom: 100%;
  font-weight: 500;
}

span {
  margin-left: 16px;
}

.sidebar {
  position: relative;
}

/* Media styling */
@media only screen and (max-width: 600px) {
  .sidebar-logo {
    color: #ffffff;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 40px;
    font-size: 60px;
  }

  .sidebar-heading {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: left;
    margin-right: 15px;
  }

  .nav-menu-items {
    padding-left: 20px;
  }
}
